# Compiled class file
*.class
*.classpath

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IDE Files #
*.iml
.idea
.idea/
.project
.settings
target
.DS_Store